
body {
  color: #DCDCDD;

  font-family: freight-sans-pro, sans-serif;
  font-style: normal;
  font-weight: 600;
  /* font-family: CoopForged;
  font-style: medium; */
  /* font-family: kepler-std-semicondensed-dis, serif;
  font-style: normal;
  font-weight: 700; */
  /* background-color: #edf2f4; */
  background-color: #1D1F20;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px
}

#heading{
  color: #FAFF00;
}

p{
  color:#CDC1FF;
  /* color: #A2999E; */
}

a {
  /* color: #495057; */
color: #FAFF00;
}

a:hover{
  /* color: #adb5bd; */
  color:#CDC1FF;
}

a.tiktok{
  color: #DCDCDD;
}

a.tiktok:hover{
  color: #FAFF00;
}
