
body {
  color: #071013;

  font-family: freight-sans-pro, sans-serif;
  font-style: normal;
  font-weight: 600;
  /* font-family: CoopForged;
  font-style: medium; */
  /* font-family: kepler-std-semicondensed-dis, serif;
  font-style: normal;
  font-weight: 700; */
  /* background-color: #edf2f4; */
  background-color: #4A6670;
  text-align: center;
}


p{
  color: #010400;
}

a {
  /* color: #495057; */
color: #668F80;
}

a:hover{
  /* color: #adb5bd; */
  color:#CDC1FF;
}
