body {
  color: #071013;
  font-family: freight-sans-pro, sans-serif;
  font-style: normal;
  font-weight: 600;
  /* font-family: CoopForged;
  font-style: medium; */
  /* font-family: kepler-std-semicondensed-dis, serif;
  font-style: normal;
  font-weight: 700; */
  /* background-color: #edf2f4; */
  background-color: #f8f9fa;
  text-align: center;
}
#petition-links{
  color: black;
}

p{
  color: black;
}

a {
  color: #495057;
}

a:hover{
  color: #adb5bd;
}
